[data-podo-theme="landing"][data-color-scheme="light"] {
  --podo-border-danger: #F23B3B;
  --podo-border-disabled: #D1D2D6;
  --podo-border-gary: #E4E4E7;
  --podo-border-gray-darker: #9FA2AD;
  --podo-border-gray-deep: #D1D2D6;
  --podo-border-info: #0095FF;
  --podo-border-natural: #9FA2AD;
  --podo-border-natural-darker: #27272A;
  --podo-border-natural-deep: #767985;
  --podo-border-primary: #426CED;
  --podo-border-success: #3EA856;
  --podo-border-warning: #FFAA00;
  --podo-button-background-disabled: #E4E4E7;
  --podo-button-background-outline-assistive: #F9F9F9;
  --podo-button-background-outline-assistive-hover: #F4F4F5;
  --podo-button-background-outline-assistive-pressed: #E4E4E7;
  --podo-button-background-outline-danger: #FFFFFF;
  --podo-button-background-outline-danger-hover: #FEF1F1;
  --podo-button-background-outline-danger-pressed: #FFE0DF;
  --podo-button-background-outline-primary: #FFFFFF;
  --podo-button-background-outline-primary-hover: #F1F4FD;
  --podo-button-background-outline-primary-pressed: #D0DBFB;
  --podo-button-background-outline-white: #FFFFFF;
  --podo-button-background-outline-white-hover: #0000000D;
  --podo-button-background-outline-white-pressed: #0000001A;
  --podo-button-background-solid-assistive: #F4F4F5;
  --podo-button-background-solid-assistive-hover: #E4E4E7;
  --podo-button-background-solid-assistive-pressed: #D1D2D6;
  --podo-button-background-solid-danger: #F23B3B;
  --podo-button-background-solid-danger-hover: #EE1818;
  --podo-button-background-solid-danger-pressed: #CD0404;
  --podo-button-background-solid-primary: #426CED;
  --podo-button-background-solid-primary-hover: #1245E2;
  --podo-button-background-solid-primary-pressed: #123BBA;
  --podo-button-background-solid-white: #FFFFFF;
  --podo-button-background-solid-white-hover: #F4F4F5;
  --podo-button-background-solid-white-pressed: #E4E4E7;
  --podo-button-border-assistive: #D1D2D6;
  --podo-button-border-danger: #F23B3B;
  --podo-button-border-disabled: #D1D2D6;
  --podo-button-border-primary: #426CED;
  --podo-button-border-white: #D1D2D6;
  --podo-color-brand: #426CED;
  --podo-color-danger: #F23B3B;
  --podo-color-inverse: #FFFFFF;
  --podo-color-palette-accent-50: #F15764;
  --podo-color-palette-error-5: #FEF1F1;
  --podo-color-palette-error-50: #F23B3B;
  --podo-color-palette-gray-10: #F4F4F5;
  --podo-color-palette-gray-5: #F9F9F9;
  --podo-color-palette-gray-70: #3E424B;
  --podo-color-palette-gray-90: #18181B;
  --podo-color-palette-info-5: #EBF5FF;
  --podo-color-palette-info-50: #0095FF;
  --podo-color-palette-orange-5: #FFF4F0;
  --podo-color-palette-orange-50: #FF6A33;
  --podo-color-palette-purple-5: #F8F5FF;
  --podo-color-palette-purple-50: #8E51FF;
  --podo-color-palette-success-5: #ECF8EF;
  --podo-color-palette-success-50: #3EA856;
  --podo-color-palette-warning-5: #FFF7E6;
  --podo-color-palette-warning-50: #FFAA00;
  --podo-color-text: #18181B;
  --podo-component-button-background: #426CED;
  --podo-component-button-text: #FFFFFF;
  --podo-component-input-background: #FFFFFF;
  --podo-component-input-border: #18181B;
  --podo-elevation-basic: #FFFFFF;
  --podo-elevation-basic-reverse: #18181B;
  --podo-elevation-dim: #00000080;
  --podo-elevation-gray: #F9F9F9;
  --podo-elevation-nesting: #FFFFFF;
  --podo-elevation-outline: #E4E4E7;
  --podo-elevation-static: #27272A;
  --podo-elevation-static-invert: #FFFFFF;
  --podo-foreground-basic: #FFFFFF;
  --podo-foreground-basic-reverse: #3E424B;
  --podo-foreground-danger: #F23B3B;
  --podo-foreground-danger-light: #FEF1F1;
  --podo-foreground-disabled: #E4E4E7;
  --podo-foreground-disabled-dark: #D1D2D6;
  --podo-foreground-gray: #F9F9F9;
  --podo-foreground-gray-dark: #D1D2D6;
  --podo-foreground-gray-light: #F4F4F5;
  --podo-foreground-gray-lightdeep: #E4E4E7;
  --podo-foreground-info: #0095FF;
  --podo-foreground-info-light: #EBF5FF;
  --podo-foreground-mono: #FFFFFF;
  --podo-foreground-mono-reverse: #000000;
  --podo-foreground-natural: #3E424B;
  --podo-foreground-natural-light: #F4F4F5;
  --podo-foreground-natural-lightdeep: #767985;
  --podo-foreground-point: #F15764;
  --podo-foreground-primary: #426CED;
  --podo-foreground-primary-light: #F1F4FD;
  --podo-foreground-static: #18181B;
  --podo-foreground-static-invert: #FFFFFF;
  --podo-foreground-success: #3EA856;
  --podo-foreground-success-light: #ECF8EF;
  --podo-foreground-warning: #FFAA00;
  --podo-foreground-warning-light: #FFF7E6;
  --podo-icon-basic: #27272A;
  --podo-icon-basic-reverse: #F9F9F9;
  --podo-icon-danger: #F23B3B;
  --podo-icon-disabled: #9FA2AD;
  --podo-icon-icon-hover: #4A78B5;
  --podo-icon-icon-pressed: #34547E;
  --podo-icon-info: #0095FF;
  --podo-icon-point: #F15764;
  --podo-icon-primary: #426CED;
  --podo-icon-static: #27272A;
  --podo-icon-static-invert: #F9F9F9;
  --podo-icon-subtil: #767985;
  --podo-icon-success: #3EA856;
  --podo-icon-warning: #FFAA00;
  --podo-radius-control-md: 8px;
  --podo-semantic-color-text-danger: #F23B3B;
  --podo-semantic-color-text-default: #18181B;
  --podo-semantic-color-text-inverse: #FFFFFF;
  --podo-spacing-component-field-gap: 8px;
  --podo-spacing-scale-1: 4px;
  --podo-spacing-scale-2: 8px;
  --podo-table-table-bg: #FFFFFF;
  --podo-table-table-outline: #E4E4E7;
  --podo-table-table-th: #F4F4F5;
  --podo-table-table-tr-disabled: #F4F4F5;
  --podo-table-table-tr-focused: #F4F4F5;
  --podo-table-table-tr-hover: #F9F9F9;
  --podo-text-basic: #18181B;
  --podo-text-basic-reverse: #F9F9F9;
  --podo-text-danger: #F23B3B;
  --podo-text-disabled: #9FA2AD;
  --podo-text-info: #0095FF;
  --podo-text-placeholder: #9FA2AD;
  --podo-text-point: #F15764;
  --podo-text-primary: #426CED;
  --podo-text-static: #18181B;
  --podo-text-static-invert: #FFFFFF;
  --podo-text-subtil: #50555E;
  --podo-text-subtil-reverse: #9FA2AD;
  --podo-text-success: #3EA856;
  --podo-text-text-hover: #4A78B5;
  --podo-text-text-pressed: #34547E;
  --podo-text-warning: #FFAA00;
  --podo-typography-body-medium-fontFamily: Pretendard;
  --podo-typography-body-medium-fontSize: 16px;
  --podo-typography-body-medium-fontWeight: 400;
  --podo-typography-body-medium-letterSpacing: 0px;
  --podo-typography-body-medium-lineHeight: 160%;
  --podo-typography-h1-fontFamily: Pretendard;
  --podo-typography-h1-fontSize: 64px;
  --podo-typography-h1-fontWeight: 700;
  --podo-typography-h1-letterSpacing: 0px;
  --podo-typography-h1-lineHeight: 72px;
  --podo-typography-heading-xlarge-fontFamily: Pretendard;
  --podo-typography-heading-xlarge-fontSize: 32px;
  --podo-typography-heading-xlarge-fontWeight: 700;
  --podo-typography-heading-xlarge-letterSpacing: 0px;
  --podo-typography-heading-xlarge-lineHeight: 120%;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  [data-podo-theme="landing"][data-color-scheme="light"] {
    --podo-typography-body-medium-fontSize: 16px;
    --podo-typography-heading-xlarge-fontSize: 28px;
  }
}

@media screen and (max-width: 767px) {
  [data-podo-theme="landing"][data-color-scheme="light"] {
    --podo-typography-body-medium-fontSize: 14px;
    --podo-typography-heading-xlarge-fontSize: 24px;
  }
}

[data-podo-theme="landing"][data-color-scheme="dark"] {
  --podo-border-danger: #F56666;
  --podo-border-disabled: #FFFFFF0D;
  --podo-border-gary: #FFFFFF1A;
  --podo-border-gray-darker: #FFFFFF4C;
  --podo-border-gray-deep: #FFFFFF33;
  --podo-border-info: #56ACFF;
  --podo-border-natural: #50555E;
  --podo-border-natural-darker: #F9F9F9;
  --podo-border-natural-deep: #767985;
  --podo-border-primary: #577DEF;
  --podo-border-success: #57C16F;
  --podo-border-warning: #FFBB33;
  --podo-button-background-disabled: #FFFFFF1A;
  --podo-button-background-outline-assistive: #FFFFFF0D;
  --podo-button-background-outline-assistive-hover: #FFFFFF1A;
  --podo-button-background-outline-assistive-pressed: #FFFFFF33;
  --podo-button-background-outline-danger: #27272A;
  --podo-button-background-outline-danger-hover: #FFFFFF0D;
  --podo-button-background-outline-danger-pressed: #FFFFFF1A;
  --podo-button-background-outline-primary: #27272A;
  --podo-button-background-outline-primary-hover: #FFFFFF0D;
  --podo-button-background-outline-primary-pressed: #FFFFFF1A;
  --podo-button-background-outline-white: #3E424B;
  --podo-button-background-outline-white-hover: #50555E;
  --podo-button-background-outline-white-pressed: #767985;
  --podo-button-background-solid-assistive: #FFFFFF1A;
  --podo-button-background-solid-assistive-hover: #FFFFFF33;
  --podo-button-background-solid-assistive-pressed: #FFFFFF4C;
  --podo-button-background-solid-danger: #F23B3B;
  --podo-button-background-solid-danger-hover: #F56666;
  --podo-button-background-solid-danger-pressed: #FF8985;
  --podo-button-background-solid-primary: #426CED;
  --podo-button-background-solid-primary-hover: #577DEF;
  --podo-button-background-solid-primary-pressed: #819EF3;
  --podo-button-background-solid-white: #3E424B;
  --podo-button-background-solid-white-hover: #50555E;
  --podo-button-background-solid-white-pressed: #767985;
  --podo-button-border-assistive: #FFFFFF33;
  --podo-button-border-danger: #F56666;
  --podo-button-border-disabled: #FFFFFF1A;
  --podo-button-border-primary: #577DEF;
  --podo-button-border-white: #FFFFFF33;
  --podo-color-brand: #426CED;
  --podo-color-danger: #F23B3B;
  --podo-color-inverse: #FFFFFF;
  --podo-color-palette-accent-50: #F15764;
  --podo-color-palette-error-5: #FEF1F1;
  --podo-color-palette-error-50: #F23B3B;
  --podo-color-palette-gray-10: #F4F4F5;
  --podo-color-palette-gray-5: #F9F9F9;
  --podo-color-palette-gray-70: #3E424B;
  --podo-color-palette-gray-90: #18181B;
  --podo-color-palette-info-5: #EBF5FF;
  --podo-color-palette-info-50: #0095FF;
  --podo-color-palette-orange-5: #FFF4F0;
  --podo-color-palette-orange-50: #FF6A33;
  --podo-color-palette-purple-5: #F8F5FF;
  --podo-color-palette-purple-50: #8E51FF;
  --podo-color-palette-success-5: #ECF8EF;
  --podo-color-palette-success-50: #3EA856;
  --podo-color-palette-warning-5: #FFF7E6;
  --podo-color-palette-warning-50: #FFAA00;
  --podo-color-text: #18181B;
  --podo-component-button-background: #426CED;
  --podo-component-button-text: #FFFFFF;
  --podo-component-input-background: #FFFFFF;
  --podo-component-input-border: #18181B;
  --podo-elevation-basic: #18181B;
  --podo-elevation-basic-reverse: #FFFFFF;
  --podo-elevation-dim: #00000080;
  --podo-elevation-gray: #27272A;
  --podo-elevation-nesting: #FFFFFF0D;
  --podo-elevation-outline: #FFFFFF0D;
  --podo-elevation-static: #27272A;
  --podo-elevation-static-invert: #FFFFFF;
  --podo-foreground-basic: #FFFFFF0D;
  --podo-foreground-basic-reverse: #E4E4E7;
  --podo-foreground-danger: #F56666;
  --podo-foreground-danger-light: #FFADAD;
  --podo-foreground-disabled: #FFFFFF1A;
  --podo-foreground-disabled-dark: #00000033;
  --podo-foreground-gray: #FFFFFF0D;
  --podo-foreground-gray-dark: #50555E;
  --podo-foreground-gray-light: #FFFFFF1A;
  --podo-foreground-gray-lightdeep: #FFFFFF33;
  --podo-foreground-info: #56ACFF;
  --podo-foreground-info-light: #8FC8FF;
  --podo-foreground-mono: #000000;
  --podo-foreground-mono-reverse: #FFFFFF;
  --podo-foreground-natural: #767985;
  --podo-foreground-natural-light: #50555E;
  --podo-foreground-natural-lightdeep: #9FA2AD;
  --podo-foreground-point: #F66F7A;
  --podo-foreground-primary: #577DEF;
  --podo-foreground-primary-light: #ABBEF7;
  --podo-foreground-static: #18181B;
  --podo-foreground-static-invert: #FFFFFF;
  --podo-foreground-success: #57C16F;
  --podo-foreground-success-light: #A9DEB4;
  --podo-foreground-warning: #FFBB33;
  --podo-foreground-warning-light: #FFD88A;
  --podo-icon-basic: #F9F9F9;
  --podo-icon-basic-reverse: #27272A;
  --podo-icon-danger: #F56666;
  --podo-icon-disabled: #FFFFFF4C;
  --podo-icon-icon-hover: #76A0D8;
  --podo-icon-icon-pressed: #A0C2EE;
  --podo-icon-info: #56ACFF;
  --podo-icon-point: #F66F7A;
  --podo-icon-primary: #577DEF;
  --podo-icon-static: #27272A;
  --podo-icon-static-invert: #F9F9F9;
  --podo-icon-subtil: #9FA2AD;
  --podo-icon-success: #57C16F;
  --podo-icon-warning: #FFBB33;
  --podo-radius-control-md: 8px;
  --podo-semantic-color-text-danger: #F23B3B;
  --podo-semantic-color-text-default: #18181B;
  --podo-semantic-color-text-inverse: #FFFFFF;
  --podo-spacing-component-field-gap: 8px;
  --podo-spacing-scale-1: 4px;
  --podo-spacing-scale-2: 8px;
  --podo-table-table-bg: #27272A;
  --podo-table-table-outline: #3E424B;
  --podo-table-table-th: #18181B;
  --podo-table-table-tr-disabled: #FFFFFF0D;
  --podo-table-table-tr-focused: #FFFFFF1A;
  --podo-table-table-tr-hover: #FFFFFF0D;
  --podo-text-basic: #F9F9F9;
  --podo-text-basic-reverse: #18181B;
  --podo-text-danger: #F56666;
  --podo-text-disabled: #FFFFFF33;
  --podo-text-info: #56ACFF;
  --podo-text-placeholder: #FFFFFF66;
  --podo-text-point: #F66F7A;
  --podo-text-primary: #577DEF;
  --podo-text-static: #18181B;
  --podo-text-static-invert: #FFFFFF;
  --podo-text-subtil: #9FA2AD;
  --podo-text-subtil-reverse: #50555E;
  --podo-text-success: #57C16F;
  --podo-text-text-hover: #76A0D8;
  --podo-text-text-pressed: #A0C2EE;
  --podo-text-warning: #FFBB33;
  --podo-typography-body-medium-fontFamily: Pretendard;
  --podo-typography-body-medium-fontSize: 16px;
  --podo-typography-body-medium-fontWeight: 400;
  --podo-typography-body-medium-letterSpacing: 0px;
  --podo-typography-body-medium-lineHeight: 160%;
  --podo-typography-h1-fontFamily: Pretendard;
  --podo-typography-h1-fontSize: 64px;
  --podo-typography-h1-fontWeight: 700;
  --podo-typography-h1-letterSpacing: 0px;
  --podo-typography-h1-lineHeight: 72px;
  --podo-typography-heading-xlarge-fontFamily: Pretendard;
  --podo-typography-heading-xlarge-fontSize: 32px;
  --podo-typography-heading-xlarge-fontWeight: 700;
  --podo-typography-heading-xlarge-letterSpacing: 0px;
  --podo-typography-heading-xlarge-lineHeight: 120%;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  [data-podo-theme="landing"][data-color-scheme="dark"] {
    --podo-typography-body-medium-fontSize: 16px;
    --podo-typography-heading-xlarge-fontSize: 28px;
  }
}

@media screen and (max-width: 767px) {
  [data-podo-theme="landing"][data-color-scheme="dark"] {
    --podo-typography-body-medium-fontSize: 14px;
    --podo-typography-heading-xlarge-fontSize: 24px;
  }
}

[data-podo-theme="dashboard"][data-color-scheme="light"] {
  --podo-border-danger: #F23B3B;
  --podo-border-disabled: #D1D2D6;
  --podo-border-gary: #E4E4E7;
  --podo-border-gray-darker: #9FA2AD;
  --podo-border-gray-deep: #D1D2D6;
  --podo-border-info: #0095FF;
  --podo-border-natural: #9FA2AD;
  --podo-border-natural-darker: #27272A;
  --podo-border-natural-deep: #767985;
  --podo-border-primary: #426CED;
  --podo-border-success: #3EA856;
  --podo-border-warning: #FFAA00;
  --podo-button-background-disabled: #E4E4E7;
  --podo-button-background-outline-assistive: #F9F9F9;
  --podo-button-background-outline-assistive-hover: #F4F4F5;
  --podo-button-background-outline-assistive-pressed: #E4E4E7;
  --podo-button-background-outline-danger: #FFFFFF;
  --podo-button-background-outline-danger-hover: #FEF1F1;
  --podo-button-background-outline-danger-pressed: #FFE0DF;
  --podo-button-background-outline-primary: #FFFFFF;
  --podo-button-background-outline-primary-hover: #F1F4FD;
  --podo-button-background-outline-primary-pressed: #D0DBFB;
  --podo-button-background-outline-white: #FFFFFF;
  --podo-button-background-outline-white-hover: #0000000D;
  --podo-button-background-outline-white-pressed: #0000001A;
  --podo-button-background-solid-assistive: #F4F4F5;
  --podo-button-background-solid-assistive-hover: #E4E4E7;
  --podo-button-background-solid-assistive-pressed: #D1D2D6;
  --podo-button-background-solid-danger: #F23B3B;
  --podo-button-background-solid-danger-hover: #EE1818;
  --podo-button-background-solid-danger-pressed: #CD0404;
  --podo-button-background-solid-primary: #426CED;
  --podo-button-background-solid-primary-hover: #1245E2;
  --podo-button-background-solid-primary-pressed: #123BBA;
  --podo-button-background-solid-white: #FFFFFF;
  --podo-button-background-solid-white-hover: #F4F4F5;
  --podo-button-background-solid-white-pressed: #E4E4E7;
  --podo-button-border-assistive: #D1D2D6;
  --podo-button-border-danger: #F23B3B;
  --podo-button-border-disabled: #D1D2D6;
  --podo-button-border-primary: #426CED;
  --podo-button-border-white: #D1D2D6;
  --podo-color-brand: #426CED;
  --podo-color-danger: #F23B3B;
  --podo-color-inverse: #FFFFFF;
  --podo-color-palette-accent-50: #F15764;
  --podo-color-palette-error-5: #FEF1F1;
  --podo-color-palette-error-50: #F23B3B;
  --podo-color-palette-gray-10: #F4F4F5;
  --podo-color-palette-gray-5: #F9F9F9;
  --podo-color-palette-gray-70: #3E424B;
  --podo-color-palette-gray-90: #18181B;
  --podo-color-palette-info-5: #EBF5FF;
  --podo-color-palette-info-50: #0095FF;
  --podo-color-palette-orange-5: #FFF4F0;
  --podo-color-palette-orange-50: #FF6A33;
  --podo-color-palette-purple-5: #F8F5FF;
  --podo-color-palette-purple-50: #8E51FF;
  --podo-color-palette-success-5: #ECF8EF;
  --podo-color-palette-success-50: #3EA856;
  --podo-color-palette-warning-5: #FFF7E6;
  --podo-color-palette-warning-50: #FFAA00;
  --podo-color-text: #18181B;
  --podo-component-button-background: #426CED;
  --podo-component-button-text: #FFFFFF;
  --podo-component-input-background: #FFFFFF;
  --podo-component-input-border: #18181B;
  --podo-elevation-basic: #FFFFFF;
  --podo-elevation-basic-reverse: #18181B;
  --podo-elevation-dim: #00000080;
  --podo-elevation-gray: #F9F9F9;
  --podo-elevation-nesting: #FFFFFF;
  --podo-elevation-outline: #E4E4E7;
  --podo-elevation-static: #27272A;
  --podo-elevation-static-invert: #FFFFFF;
  --podo-foreground-basic: #FFFFFF;
  --podo-foreground-basic-reverse: #3E424B;
  --podo-foreground-danger: #F23B3B;
  --podo-foreground-danger-light: #FEF1F1;
  --podo-foreground-disabled: #E4E4E7;
  --podo-foreground-disabled-dark: #D1D2D6;
  --podo-foreground-gray: #F9F9F9;
  --podo-foreground-gray-dark: #D1D2D6;
  --podo-foreground-gray-light: #F4F4F5;
  --podo-foreground-gray-lightdeep: #E4E4E7;
  --podo-foreground-info: #0095FF;
  --podo-foreground-info-light: #EBF5FF;
  --podo-foreground-mono: #FFFFFF;
  --podo-foreground-mono-reverse: #000000;
  --podo-foreground-natural: #3E424B;
  --podo-foreground-natural-light: #F4F4F5;
  --podo-foreground-natural-lightdeep: #767985;
  --podo-foreground-point: #F15764;
  --podo-foreground-primary: #426CED;
  --podo-foreground-primary-light: #F1F4FD;
  --podo-foreground-static: #18181B;
  --podo-foreground-static-invert: #FFFFFF;
  --podo-foreground-success: #3EA856;
  --podo-foreground-success-light: #ECF8EF;
  --podo-foreground-warning: #FFAA00;
  --podo-foreground-warning-light: #FFF7E6;
  --podo-icon-basic: #27272A;
  --podo-icon-basic-reverse: #F9F9F9;
  --podo-icon-danger: #F23B3B;
  --podo-icon-disabled: #9FA2AD;
  --podo-icon-icon-hover: #4A78B5;
  --podo-icon-icon-pressed: #34547E;
  --podo-icon-info: #0095FF;
  --podo-icon-point: #F15764;
  --podo-icon-primary: #426CED;
  --podo-icon-static: #27272A;
  --podo-icon-static-invert: #F9F9F9;
  --podo-icon-subtil: #767985;
  --podo-icon-success: #3EA856;
  --podo-icon-warning: #FFAA00;
  --podo-radius-control-md: 8px;
  --podo-semantic-color-text-danger: #F23B3B;
  --podo-semantic-color-text-default: #18181B;
  --podo-semantic-color-text-inverse: #FFFFFF;
  --podo-spacing-component-field-gap: 8px;
  --podo-spacing-scale-1: 4px;
  --podo-spacing-scale-2: 8px;
  --podo-table-table-bg: #FFFFFF;
  --podo-table-table-outline: #E4E4E7;
  --podo-table-table-th: #F4F4F5;
  --podo-table-table-tr-disabled: #F4F4F5;
  --podo-table-table-tr-focused: #F4F4F5;
  --podo-table-table-tr-hover: #F9F9F9;
  --podo-text-basic: #18181B;
  --podo-text-basic-reverse: #F9F9F9;
  --podo-text-danger: #F23B3B;
  --podo-text-disabled: #9FA2AD;
  --podo-text-info: #0095FF;
  --podo-text-placeholder: #9FA2AD;
  --podo-text-point: #F15764;
  --podo-text-primary: #426CED;
  --podo-text-static: #18181B;
  --podo-text-static-invert: #FFFFFF;
  --podo-text-subtil: #50555E;
  --podo-text-subtil-reverse: #9FA2AD;
  --podo-text-success: #3EA856;
  --podo-text-text-hover: #4A78B5;
  --podo-text-text-pressed: #34547E;
  --podo-text-warning: #FFAA00;
  --podo-typography-body-medium-fontFamily: Pretendard;
  --podo-typography-body-medium-fontSize: 16px;
  --podo-typography-body-medium-fontWeight: 400;
  --podo-typography-body-medium-letterSpacing: 0px;
  --podo-typography-body-medium-lineHeight: 160%;
  --podo-typography-h1-fontFamily: Pretendard;
  --podo-typography-h1-fontSize: 28px;
  --podo-typography-h1-fontWeight: 600;
  --podo-typography-h1-letterSpacing: 0px;
  --podo-typography-h1-lineHeight: 36px;
  --podo-typography-heading-xlarge-fontFamily: Pretendard;
  --podo-typography-heading-xlarge-fontSize: 32px;
  --podo-typography-heading-xlarge-fontWeight: 700;
  --podo-typography-heading-xlarge-letterSpacing: 0px;
  --podo-typography-heading-xlarge-lineHeight: 120%;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  [data-podo-theme="dashboard"][data-color-scheme="light"] {
    --podo-typography-body-medium-fontSize: 16px;
    --podo-typography-heading-xlarge-fontSize: 28px;
  }
}

@media screen and (max-width: 767px) {
  [data-podo-theme="dashboard"][data-color-scheme="light"] {
    --podo-typography-body-medium-fontSize: 14px;
    --podo-typography-heading-xlarge-fontSize: 24px;
  }
}

[data-podo-theme="dashboard"][data-color-scheme="dark"] {
  --podo-border-danger: #F56666;
  --podo-border-disabled: #FFFFFF0D;
  --podo-border-gary: #FFFFFF1A;
  --podo-border-gray-darker: #FFFFFF4C;
  --podo-border-gray-deep: #FFFFFF33;
  --podo-border-info: #56ACFF;
  --podo-border-natural: #50555E;
  --podo-border-natural-darker: #F9F9F9;
  --podo-border-natural-deep: #767985;
  --podo-border-primary: #577DEF;
  --podo-border-success: #57C16F;
  --podo-border-warning: #FFBB33;
  --podo-button-background-disabled: #FFFFFF1A;
  --podo-button-background-outline-assistive: #FFFFFF0D;
  --podo-button-background-outline-assistive-hover: #FFFFFF1A;
  --podo-button-background-outline-assistive-pressed: #FFFFFF33;
  --podo-button-background-outline-danger: #27272A;
  --podo-button-background-outline-danger-hover: #FFFFFF0D;
  --podo-button-background-outline-danger-pressed: #FFFFFF1A;
  --podo-button-background-outline-primary: #27272A;
  --podo-button-background-outline-primary-hover: #FFFFFF0D;
  --podo-button-background-outline-primary-pressed: #FFFFFF1A;
  --podo-button-background-outline-white: #3E424B;
  --podo-button-background-outline-white-hover: #50555E;
  --podo-button-background-outline-white-pressed: #767985;
  --podo-button-background-solid-assistive: #FFFFFF1A;
  --podo-button-background-solid-assistive-hover: #FFFFFF33;
  --podo-button-background-solid-assistive-pressed: #FFFFFF4C;
  --podo-button-background-solid-danger: #F23B3B;
  --podo-button-background-solid-danger-hover: #F56666;
  --podo-button-background-solid-danger-pressed: #FF8985;
  --podo-button-background-solid-primary: #426CED;
  --podo-button-background-solid-primary-hover: #577DEF;
  --podo-button-background-solid-primary-pressed: #819EF3;
  --podo-button-background-solid-white: #3E424B;
  --podo-button-background-solid-white-hover: #50555E;
  --podo-button-background-solid-white-pressed: #767985;
  --podo-button-border-assistive: #FFFFFF33;
  --podo-button-border-danger: #F56666;
  --podo-button-border-disabled: #FFFFFF1A;
  --podo-button-border-primary: #577DEF;
  --podo-button-border-white: #FFFFFF33;
  --podo-color-brand: #426CED;
  --podo-color-danger: #F23B3B;
  --podo-color-inverse: #FFFFFF;
  --podo-color-palette-accent-50: #F15764;
  --podo-color-palette-error-5: #FEF1F1;
  --podo-color-palette-error-50: #F23B3B;
  --podo-color-palette-gray-10: #F4F4F5;
  --podo-color-palette-gray-5: #F9F9F9;
  --podo-color-palette-gray-70: #3E424B;
  --podo-color-palette-gray-90: #18181B;
  --podo-color-palette-info-5: #EBF5FF;
  --podo-color-palette-info-50: #0095FF;
  --podo-color-palette-orange-5: #FFF4F0;
  --podo-color-palette-orange-50: #FF6A33;
  --podo-color-palette-purple-5: #F8F5FF;
  --podo-color-palette-purple-50: #8E51FF;
  --podo-color-palette-success-5: #ECF8EF;
  --podo-color-palette-success-50: #3EA856;
  --podo-color-palette-warning-5: #FFF7E6;
  --podo-color-palette-warning-50: #FFAA00;
  --podo-color-text: #18181B;
  --podo-component-button-background: #426CED;
  --podo-component-button-text: #FFFFFF;
  --podo-component-input-background: #FFFFFF;
  --podo-component-input-border: #18181B;
  --podo-elevation-basic: #18181B;
  --podo-elevation-basic-reverse: #FFFFFF;
  --podo-elevation-dim: #00000080;
  --podo-elevation-gray: #27272A;
  --podo-elevation-nesting: #FFFFFF0D;
  --podo-elevation-outline: #FFFFFF0D;
  --podo-elevation-static: #27272A;
  --podo-elevation-static-invert: #FFFFFF;
  --podo-foreground-basic: #FFFFFF0D;
  --podo-foreground-basic-reverse: #E4E4E7;
  --podo-foreground-danger: #F56666;
  --podo-foreground-danger-light: #FFADAD;
  --podo-foreground-disabled: #FFFFFF1A;
  --podo-foreground-disabled-dark: #00000033;
  --podo-foreground-gray: #FFFFFF0D;
  --podo-foreground-gray-dark: #50555E;
  --podo-foreground-gray-light: #FFFFFF1A;
  --podo-foreground-gray-lightdeep: #FFFFFF33;
  --podo-foreground-info: #56ACFF;
  --podo-foreground-info-light: #8FC8FF;
  --podo-foreground-mono: #000000;
  --podo-foreground-mono-reverse: #FFFFFF;
  --podo-foreground-natural: #767985;
  --podo-foreground-natural-light: #50555E;
  --podo-foreground-natural-lightdeep: #9FA2AD;
  --podo-foreground-point: #F66F7A;
  --podo-foreground-primary: #577DEF;
  --podo-foreground-primary-light: #ABBEF7;
  --podo-foreground-static: #18181B;
  --podo-foreground-static-invert: #FFFFFF;
  --podo-foreground-success: #57C16F;
  --podo-foreground-success-light: #A9DEB4;
  --podo-foreground-warning: #FFBB33;
  --podo-foreground-warning-light: #FFD88A;
  --podo-icon-basic: #F9F9F9;
  --podo-icon-basic-reverse: #27272A;
  --podo-icon-danger: #F56666;
  --podo-icon-disabled: #FFFFFF4C;
  --podo-icon-icon-hover: #76A0D8;
  --podo-icon-icon-pressed: #A0C2EE;
  --podo-icon-info: #56ACFF;
  --podo-icon-point: #F66F7A;
  --podo-icon-primary: #577DEF;
  --podo-icon-static: #27272A;
  --podo-icon-static-invert: #F9F9F9;
  --podo-icon-subtil: #9FA2AD;
  --podo-icon-success: #57C16F;
  --podo-icon-warning: #FFBB33;
  --podo-radius-control-md: 8px;
  --podo-semantic-color-text-danger: #F23B3B;
  --podo-semantic-color-text-default: #18181B;
  --podo-semantic-color-text-inverse: #FFFFFF;
  --podo-spacing-component-field-gap: 8px;
  --podo-spacing-scale-1: 4px;
  --podo-spacing-scale-2: 8px;
  --podo-table-table-bg: #27272A;
  --podo-table-table-outline: #3E424B;
  --podo-table-table-th: #18181B;
  --podo-table-table-tr-disabled: #FFFFFF0D;
  --podo-table-table-tr-focused: #FFFFFF1A;
  --podo-table-table-tr-hover: #FFFFFF0D;
  --podo-text-basic: #F9F9F9;
  --podo-text-basic-reverse: #18181B;
  --podo-text-danger: #F56666;
  --podo-text-disabled: #FFFFFF33;
  --podo-text-info: #56ACFF;
  --podo-text-placeholder: #FFFFFF66;
  --podo-text-point: #F66F7A;
  --podo-text-primary: #577DEF;
  --podo-text-static: #18181B;
  --podo-text-static-invert: #FFFFFF;
  --podo-text-subtil: #9FA2AD;
  --podo-text-subtil-reverse: #50555E;
  --podo-text-success: #57C16F;
  --podo-text-text-hover: #76A0D8;
  --podo-text-text-pressed: #A0C2EE;
  --podo-text-warning: #FFBB33;
  --podo-typography-body-medium-fontFamily: Pretendard;
  --podo-typography-body-medium-fontSize: 16px;
  --podo-typography-body-medium-fontWeight: 400;
  --podo-typography-body-medium-letterSpacing: 0px;
  --podo-typography-body-medium-lineHeight: 160%;
  --podo-typography-h1-fontFamily: Pretendard;
  --podo-typography-h1-fontSize: 28px;
  --podo-typography-h1-fontWeight: 600;
  --podo-typography-h1-letterSpacing: 0px;
  --podo-typography-h1-lineHeight: 36px;
  --podo-typography-heading-xlarge-fontFamily: Pretendard;
  --podo-typography-heading-xlarge-fontSize: 32px;
  --podo-typography-heading-xlarge-fontWeight: 700;
  --podo-typography-heading-xlarge-letterSpacing: 0px;
  --podo-typography-heading-xlarge-lineHeight: 120%;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  [data-podo-theme="dashboard"][data-color-scheme="dark"] {
    --podo-typography-body-medium-fontSize: 16px;
    --podo-typography-heading-xlarge-fontSize: 28px;
  }
}

@media screen and (max-width: 767px) {
  [data-podo-theme="dashboard"][data-color-scheme="dark"] {
    --podo-typography-body-medium-fontSize: 14px;
    --podo-typography-heading-xlarge-fontSize: 24px;
  }
}

[data-podo-theme="custom"][data-color-scheme="light"] {
  --podo-border-danger: #F23B3B;
  --podo-border-disabled: #D1D2D6;
  --podo-border-gary: #E4E4E7;
  --podo-border-gray-darker: #9FA2AD;
  --podo-border-gray-deep: #D1D2D6;
  --podo-border-info: #0095FF;
  --podo-border-natural: #9FA2AD;
  --podo-border-natural-darker: #27272A;
  --podo-border-natural-deep: #767985;
  --podo-border-primary: #426CED;
  --podo-border-success: #3EA856;
  --podo-border-warning: #FFAA00;
  --podo-button-background-disabled: #E4E4E7;
  --podo-button-background-outline-assistive: #F9F9F9;
  --podo-button-background-outline-assistive-hover: #F4F4F5;
  --podo-button-background-outline-assistive-pressed: #E4E4E7;
  --podo-button-background-outline-danger: #FFFFFF;
  --podo-button-background-outline-danger-hover: #FEF1F1;
  --podo-button-background-outline-danger-pressed: #FFE0DF;
  --podo-button-background-outline-primary: #FFFFFF;
  --podo-button-background-outline-primary-hover: #F1F4FD;
  --podo-button-background-outline-primary-pressed: #D0DBFB;
  --podo-button-background-outline-white: #FFFFFF;
  --podo-button-background-outline-white-hover: #0000000D;
  --podo-button-background-outline-white-pressed: #0000001A;
  --podo-button-background-solid-assistive: #F4F4F5;
  --podo-button-background-solid-assistive-hover: #E4E4E7;
  --podo-button-background-solid-assistive-pressed: #D1D2D6;
  --podo-button-background-solid-danger: #F23B3B;
  --podo-button-background-solid-danger-hover: #EE1818;
  --podo-button-background-solid-danger-pressed: #CD0404;
  --podo-button-background-solid-primary: #426CED;
  --podo-button-background-solid-primary-hover: #1245E2;
  --podo-button-background-solid-primary-pressed: #123BBA;
  --podo-button-background-solid-white: #FFFFFF;
  --podo-button-background-solid-white-hover: #F4F4F5;
  --podo-button-background-solid-white-pressed: #E4E4E7;
  --podo-button-border-assistive: #D1D2D6;
  --podo-button-border-danger: #F23B3B;
  --podo-button-border-disabled: #D1D2D6;
  --podo-button-border-primary: #426CED;
  --podo-button-border-white: #D1D2D6;
  --podo-color-brand: #426CED;
  --podo-color-danger: #F23B3B;
  --podo-color-inverse: #FFFFFF;
  --podo-color-palette-accent-50: #F15764;
  --podo-color-palette-error-5: #FEF1F1;
  --podo-color-palette-error-50: #F23B3B;
  --podo-color-palette-gray-10: #F4F4F5;
  --podo-color-palette-gray-5: #F9F9F9;
  --podo-color-palette-gray-70: #3E424B;
  --podo-color-palette-gray-90: #18181B;
  --podo-color-palette-info-5: #EBF5FF;
  --podo-color-palette-info-50: #0095FF;
  --podo-color-palette-orange-5: #FFF4F0;
  --podo-color-palette-orange-50: #FF6A33;
  --podo-color-palette-purple-5: #F8F5FF;
  --podo-color-palette-purple-50: #8E51FF;
  --podo-color-palette-success-5: #ECF8EF;
  --podo-color-palette-success-50: #3EA856;
  --podo-color-palette-warning-5: #FFF7E6;
  --podo-color-palette-warning-50: #FFAA00;
  --podo-color-text: #18181B;
  --podo-component-button-background: #426CED;
  --podo-component-button-text: #FFFFFF;
  --podo-component-input-background: #FFFFFF;
  --podo-component-input-border: #18181B;
  --podo-elevation-basic: #FFFFFF;
  --podo-elevation-basic-reverse: #18181B;
  --podo-elevation-dim: #00000080;
  --podo-elevation-gray: #F9F9F9;
  --podo-elevation-nesting: #FFFFFF;
  --podo-elevation-outline: #E4E4E7;
  --podo-elevation-static: #27272A;
  --podo-elevation-static-invert: #FFFFFF;
  --podo-foreground-basic: #FFFFFF;
  --podo-foreground-basic-reverse: #3E424B;
  --podo-foreground-danger: #F23B3B;
  --podo-foreground-danger-light: #FEF1F1;
  --podo-foreground-disabled: #E4E4E7;
  --podo-foreground-disabled-dark: #D1D2D6;
  --podo-foreground-gray: #F9F9F9;
  --podo-foreground-gray-dark: #D1D2D6;
  --podo-foreground-gray-light: #F4F4F5;
  --podo-foreground-gray-lightdeep: #E4E4E7;
  --podo-foreground-info: #0095FF;
  --podo-foreground-info-light: #EBF5FF;
  --podo-foreground-mono: #FFFFFF;
  --podo-foreground-mono-reverse: #000000;
  --podo-foreground-natural: #3E424B;
  --podo-foreground-natural-light: #F4F4F5;
  --podo-foreground-natural-lightdeep: #767985;
  --podo-foreground-point: #F15764;
  --podo-foreground-primary: #426CED;
  --podo-foreground-primary-light: #F1F4FD;
  --podo-foreground-static: #18181B;
  --podo-foreground-static-invert: #FFFFFF;
  --podo-foreground-success: #3EA856;
  --podo-foreground-success-light: #ECF8EF;
  --podo-foreground-warning: #FFAA00;
  --podo-foreground-warning-light: #FFF7E6;
  --podo-icon-basic: #27272A;
  --podo-icon-basic-reverse: #F9F9F9;
  --podo-icon-danger: #F23B3B;
  --podo-icon-disabled: #9FA2AD;
  --podo-icon-icon-hover: #4A78B5;
  --podo-icon-icon-pressed: #34547E;
  --podo-icon-info: #0095FF;
  --podo-icon-point: #F15764;
  --podo-icon-primary: #426CED;
  --podo-icon-static: #27272A;
  --podo-icon-static-invert: #F9F9F9;
  --podo-icon-subtil: #767985;
  --podo-icon-success: #3EA856;
  --podo-icon-warning: #FFAA00;
  --podo-radius-control-md: 8px;
  --podo-semantic-color-text-danger: #F23B3B;
  --podo-semantic-color-text-default: #18181B;
  --podo-semantic-color-text-inverse: #FFFFFF;
  --podo-spacing-component-field-gap: 8px;
  --podo-spacing-scale-1: 4px;
  --podo-spacing-scale-2: 8px;
  --podo-table-table-bg: #FFFFFF;
  --podo-table-table-outline: #E4E4E7;
  --podo-table-table-th: #F4F4F5;
  --podo-table-table-tr-disabled: #F4F4F5;
  --podo-table-table-tr-focused: #F4F4F5;
  --podo-table-table-tr-hover: #F9F9F9;
  --podo-text-basic: #18181B;
  --podo-text-basic-reverse: #F9F9F9;
  --podo-text-danger: #F23B3B;
  --podo-text-disabled: #9FA2AD;
  --podo-text-info: #0095FF;
  --podo-text-placeholder: #9FA2AD;
  --podo-text-point: #F15764;
  --podo-text-primary: #426CED;
  --podo-text-static: #18181B;
  --podo-text-static-invert: #FFFFFF;
  --podo-text-subtil: #50555E;
  --podo-text-subtil-reverse: #9FA2AD;
  --podo-text-success: #3EA856;
  --podo-text-text-hover: #4A78B5;
  --podo-text-text-pressed: #34547E;
  --podo-text-warning: #FFAA00;
  --podo-typography-body-medium-fontFamily: Pretendard;
  --podo-typography-body-medium-fontSize: 16px;
  --podo-typography-body-medium-fontWeight: 400;
  --podo-typography-body-medium-letterSpacing: 0px;
  --podo-typography-body-medium-lineHeight: 160%;
  --podo-typography-heading-xlarge-fontFamily: Pretendard;
  --podo-typography-heading-xlarge-fontSize: 32px;
  --podo-typography-heading-xlarge-fontWeight: 700;
  --podo-typography-heading-xlarge-letterSpacing: 0px;
  --podo-typography-heading-xlarge-lineHeight: 120%;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  [data-podo-theme="custom"][data-color-scheme="light"] {
    --podo-typography-body-medium-fontSize: 16px;
    --podo-typography-heading-xlarge-fontSize: 28px;
  }
}

@media screen and (max-width: 767px) {
  [data-podo-theme="custom"][data-color-scheme="light"] {
    --podo-typography-body-medium-fontSize: 14px;
    --podo-typography-heading-xlarge-fontSize: 24px;
  }
}

[data-podo-theme="custom"][data-color-scheme="dark"] {
  --podo-border-danger: #F56666;
  --podo-border-disabled: #FFFFFF0D;
  --podo-border-gary: #FFFFFF1A;
  --podo-border-gray-darker: #FFFFFF4C;
  --podo-border-gray-deep: #FFFFFF33;
  --podo-border-info: #56ACFF;
  --podo-border-natural: #50555E;
  --podo-border-natural-darker: #F9F9F9;
  --podo-border-natural-deep: #767985;
  --podo-border-primary: #577DEF;
  --podo-border-success: #57C16F;
  --podo-border-warning: #FFBB33;
  --podo-button-background-disabled: #FFFFFF1A;
  --podo-button-background-outline-assistive: #FFFFFF0D;
  --podo-button-background-outline-assistive-hover: #FFFFFF1A;
  --podo-button-background-outline-assistive-pressed: #FFFFFF33;
  --podo-button-background-outline-danger: #27272A;
  --podo-button-background-outline-danger-hover: #FFFFFF0D;
  --podo-button-background-outline-danger-pressed: #FFFFFF1A;
  --podo-button-background-outline-primary: #27272A;
  --podo-button-background-outline-primary-hover: #FFFFFF0D;
  --podo-button-background-outline-primary-pressed: #FFFFFF1A;
  --podo-button-background-outline-white: #3E424B;
  --podo-button-background-outline-white-hover: #50555E;
  --podo-button-background-outline-white-pressed: #767985;
  --podo-button-background-solid-assistive: #FFFFFF1A;
  --podo-button-background-solid-assistive-hover: #FFFFFF33;
  --podo-button-background-solid-assistive-pressed: #FFFFFF4C;
  --podo-button-background-solid-danger: #F23B3B;
  --podo-button-background-solid-danger-hover: #F56666;
  --podo-button-background-solid-danger-pressed: #FF8985;
  --podo-button-background-solid-primary: #426CED;
  --podo-button-background-solid-primary-hover: #577DEF;
  --podo-button-background-solid-primary-pressed: #819EF3;
  --podo-button-background-solid-white: #3E424B;
  --podo-button-background-solid-white-hover: #50555E;
  --podo-button-background-solid-white-pressed: #767985;
  --podo-button-border-assistive: #FFFFFF33;
  --podo-button-border-danger: #F56666;
  --podo-button-border-disabled: #FFFFFF1A;
  --podo-button-border-primary: #577DEF;
  --podo-button-border-white: #FFFFFF33;
  --podo-color-brand: #426CED;
  --podo-color-danger: #F23B3B;
  --podo-color-inverse: #FFFFFF;
  --podo-color-palette-accent-50: #F15764;
  --podo-color-palette-error-5: #FEF1F1;
  --podo-color-palette-error-50: #F23B3B;
  --podo-color-palette-gray-10: #F4F4F5;
  --podo-color-palette-gray-5: #F9F9F9;
  --podo-color-palette-gray-70: #3E424B;
  --podo-color-palette-gray-90: #18181B;
  --podo-color-palette-info-5: #EBF5FF;
  --podo-color-palette-info-50: #0095FF;
  --podo-color-palette-orange-5: #FFF4F0;
  --podo-color-palette-orange-50: #FF6A33;
  --podo-color-palette-purple-5: #F8F5FF;
  --podo-color-palette-purple-50: #8E51FF;
  --podo-color-palette-success-5: #ECF8EF;
  --podo-color-palette-success-50: #3EA856;
  --podo-color-palette-warning-5: #FFF7E6;
  --podo-color-palette-warning-50: #FFAA00;
  --podo-color-text: #18181B;
  --podo-component-button-background: #426CED;
  --podo-component-button-text: #FFFFFF;
  --podo-component-input-background: #FFFFFF;
  --podo-component-input-border: #18181B;
  --podo-elevation-basic: #18181B;
  --podo-elevation-basic-reverse: #FFFFFF;
  --podo-elevation-dim: #00000080;
  --podo-elevation-gray: #27272A;
  --podo-elevation-nesting: #FFFFFF0D;
  --podo-elevation-outline: #FFFFFF0D;
  --podo-elevation-static: #27272A;
  --podo-elevation-static-invert: #FFFFFF;
  --podo-foreground-basic: #FFFFFF0D;
  --podo-foreground-basic-reverse: #E4E4E7;
  --podo-foreground-danger: #F56666;
  --podo-foreground-danger-light: #FFADAD;
  --podo-foreground-disabled: #FFFFFF1A;
  --podo-foreground-disabled-dark: #00000033;
  --podo-foreground-gray: #FFFFFF0D;
  --podo-foreground-gray-dark: #50555E;
  --podo-foreground-gray-light: #FFFFFF1A;
  --podo-foreground-gray-lightdeep: #FFFFFF33;
  --podo-foreground-info: #56ACFF;
  --podo-foreground-info-light: #8FC8FF;
  --podo-foreground-mono: #000000;
  --podo-foreground-mono-reverse: #FFFFFF;
  --podo-foreground-natural: #767985;
  --podo-foreground-natural-light: #50555E;
  --podo-foreground-natural-lightdeep: #9FA2AD;
  --podo-foreground-point: #F66F7A;
  --podo-foreground-primary: #577DEF;
  --podo-foreground-primary-light: #ABBEF7;
  --podo-foreground-static: #18181B;
  --podo-foreground-static-invert: #FFFFFF;
  --podo-foreground-success: #57C16F;
  --podo-foreground-success-light: #A9DEB4;
  --podo-foreground-warning: #FFBB33;
  --podo-foreground-warning-light: #FFD88A;
  --podo-icon-basic: #F9F9F9;
  --podo-icon-basic-reverse: #27272A;
  --podo-icon-danger: #F56666;
  --podo-icon-disabled: #FFFFFF4C;
  --podo-icon-icon-hover: #76A0D8;
  --podo-icon-icon-pressed: #A0C2EE;
  --podo-icon-info: #56ACFF;
  --podo-icon-point: #F66F7A;
  --podo-icon-primary: #577DEF;
  --podo-icon-static: #27272A;
  --podo-icon-static-invert: #F9F9F9;
  --podo-icon-subtil: #9FA2AD;
  --podo-icon-success: #57C16F;
  --podo-icon-warning: #FFBB33;
  --podo-radius-control-md: 8px;
  --podo-semantic-color-text-danger: #F23B3B;
  --podo-semantic-color-text-default: #18181B;
  --podo-semantic-color-text-inverse: #FFFFFF;
  --podo-spacing-component-field-gap: 8px;
  --podo-spacing-scale-1: 4px;
  --podo-spacing-scale-2: 8px;
  --podo-table-table-bg: #27272A;
  --podo-table-table-outline: #3E424B;
  --podo-table-table-th: #18181B;
  --podo-table-table-tr-disabled: #FFFFFF0D;
  --podo-table-table-tr-focused: #FFFFFF1A;
  --podo-table-table-tr-hover: #FFFFFF0D;
  --podo-text-basic: #F9F9F9;
  --podo-text-basic-reverse: #18181B;
  --podo-text-danger: #F56666;
  --podo-text-disabled: #FFFFFF33;
  --podo-text-info: #56ACFF;
  --podo-text-placeholder: #FFFFFF66;
  --podo-text-point: #F66F7A;
  --podo-text-primary: #577DEF;
  --podo-text-static: #18181B;
  --podo-text-static-invert: #FFFFFF;
  --podo-text-subtil: #9FA2AD;
  --podo-text-subtil-reverse: #50555E;
  --podo-text-success: #57C16F;
  --podo-text-text-hover: #76A0D8;
  --podo-text-text-pressed: #A0C2EE;
  --podo-text-warning: #FFBB33;
  --podo-typography-body-medium-fontFamily: Pretendard;
  --podo-typography-body-medium-fontSize: 16px;
  --podo-typography-body-medium-fontWeight: 400;
  --podo-typography-body-medium-letterSpacing: 0px;
  --podo-typography-body-medium-lineHeight: 160%;
  --podo-typography-heading-xlarge-fontFamily: Pretendard;
  --podo-typography-heading-xlarge-fontSize: 32px;
  --podo-typography-heading-xlarge-fontWeight: 700;
  --podo-typography-heading-xlarge-letterSpacing: 0px;
  --podo-typography-heading-xlarge-lineHeight: 120%;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  [data-podo-theme="custom"][data-color-scheme="dark"] {
    --podo-typography-body-medium-fontSize: 16px;
    --podo-typography-heading-xlarge-fontSize: 28px;
  }
}

@media screen and (max-width: 767px) {
  [data-podo-theme="custom"][data-color-scheme="dark"] {
    --podo-typography-body-medium-fontSize: 14px;
    --podo-typography-heading-xlarge-fontSize: 24px;
  }
}
