@font-face {
  font-family: "PodoIcons";
  src: url("./PodoIcons.woff") format("woff"),
       url("./PodoIcons.woff2") format("woff2");
  font-display: block;
}

.podo-icon {
  font-family: "PodoIcons";
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

.podo-icon-airplane::before { content: "\E200"; }
.podo-icon-alert-exclamation::before { content: "\E201"; }
.podo-icon-alert-question::before { content: "\E202"; }
.podo-icon-align-center::before { content: "\E10A"; }
.podo-icon-align-gap-horizontal::before { content: "\E203"; }
.podo-icon-align-gap-vertical::before { content: "\E204"; }
.podo-icon-align-horizontal-center::before { content: "\E205"; }
.podo-icon-align-horizontal-left::before { content: "\E206"; }
.podo-icon-align-horizontal-right::before { content: "\E207"; }
.podo-icon-align-left::before { content: "\E109"; }
.podo-icon-align-right::before { content: "\E10B"; }
.podo-icon-align-vertical-bottom::before { content: "\E208"; }
.podo-icon-align-vertical-middle::before { content: "\E209"; }
.podo-icon-align-vertical-top::before { content: "\E20A"; }
.podo-icon-arrow-down::before { content: "\E20B"; }
.podo-icon-arrow-left::before { content: "\E20C"; }
.podo-icon-arrow-return-backward::before { content: "\E20D"; }
.podo-icon-arrow-return-forward::before { content: "\E20E"; }
.podo-icon-arrow-right::before { content: "\E20F"; }
.podo-icon-arrow-up::before { content: "\E210"; }
.podo-icon-arrow-up-right::before { content: "\E211"; }
.podo-icon-bold::before { content: "\E101"; }
.podo-icon-briefcase::before { content: "\E212"; }
.podo-icon-building::before { content: "\E213"; }
.podo-icon-bullet-list::before { content: "\E214"; }
.podo-icon-calendar::before { content: "\E004"; }
.podo-icon-call::before { content: "\E215"; }
.podo-icon-camera::before { content: "\E216"; }
.podo-icon-car::before { content: "\E217"; }
.podo-icon-card::before { content: "\E218"; }
.podo-icon-cart::before { content: "\E219"; }
.podo-icon-check::before { content: "\E007"; }
.podo-icon-check-check-small::before { content: "\E21A"; }
.podo-icon-check-circle::before { content: "\E21B"; }
.podo-icon-chevron-double-down::before { content: "\E21C"; }
.podo-icon-chevron-double-left::before { content: "\E21D"; }
.podo-icon-chevron-double-right::before { content: "\E21E"; }
.podo-icon-chevron-double-up::before { content: "\E21F"; }
.podo-icon-chevron-down::before { content: "\E220"; }
.podo-icon-chevron-left::before { content: "\E002"; }
.podo-icon-chevron-right::before { content: "\E003"; }
.podo-icon-chevron-up::before { content: "\E221"; }
.podo-icon-click::before { content: "\E222"; }
.podo-icon-clipboard::before { content: "\E223"; }
.podo-icon-close::before { content: "\E008"; }
.podo-icon-code::before { content: "\E114"; }
.podo-icon-coffee::before { content: "\E224"; }
.podo-icon-compass::before { content: "\E225"; }
.podo-icon-copy::before { content: "\E226"; }
.podo-icon-dark::before { content: "\E227"; }
.podo-icon-database::before { content: "\E228"; }
.podo-icon-double-arrow-arrow-right-left::before { content: "\E229"; }
.podo-icon-double-arrow-arrow-up-down::before { content: "\E22A"; }
.podo-icon-edit::before { content: "\E22B"; }
.podo-icon-edit-home::before { content: "\E22C"; }
.podo-icon-eraser::before { content: "\E113"; }
.podo-icon-external::before { content: "\E22D"; }
.podo-icon-eye::before { content: "\E22E"; }
.podo-icon-eye-eye-closed::before { content: "\E22F"; }
.podo-icon-eye-eye-off::before { content: "\E230"; }
.podo-icon-file::before { content: "\E231"; }
.podo-icon-file-file-none::before { content: "\E232"; }
.podo-icon-file-io-export::before { content: "\E233"; }
.podo-icon-file-io-import::before { content: "\E234"; }
.podo-icon-font-color::before { content: "\E107"; }
.podo-icon-forbid::before { content: "\E235"; }
.podo-icon-globe::before { content: "\E236"; }
.podo-icon-gps::before { content: "\E237"; }
.podo-icon-graph::before { content: "\E238"; }
.podo-icon-grid-menu::before { content: "\E239"; }
.podo-icon-headphones::before { content: "\E23A"; }
.podo-icon-headphones-headphones-line::before { content: "\E23B"; }
.podo-icon-heart::before { content: "\E23C"; }
.podo-icon-highlight::before { content: "\E108"; }
.podo-icon-hr::before { content: "\E112"; }
.podo-icon-image::before { content: "\E110"; }
.podo-icon-img::before { content: "\E23D"; }
.podo-icon-inbox::before { content: "\E23E"; }
.podo-icon-indent::before { content: "\E23F"; }
.podo-icon-indent-outdent::before { content: "\E240"; }
.podo-icon-info::before { content: "\E241"; }
.podo-icon-italic::before { content: "\E102"; }
.podo-icon-light::before { content: "\E242"; }
.podo-icon-line-hozion::before { content: "\E243"; }
.podo-icon-lineheight::before { content: "\E244"; }
.podo-icon-link::before { content: "\E10F"; }
.podo-icon-link-unlink::before { content: "\E245"; }
.podo-icon-list-ol::before { content: "\E10D"; }
.podo-icon-list-ul::before { content: "\E10C"; }
.podo-icon-lock::before { content: "\E246"; }
.podo-icon-lock-unlock::before { content: "\E247"; }
.podo-icon-log-in::before { content: "\E248"; }
.podo-icon-log-out::before { content: "\E249"; }
.podo-icon-mail-receipt::before { content: "\E24A"; }
.podo-icon-margin-horizontal::before { content: "\E24B"; }
.podo-icon-margin-vertical::before { content: "\E24C"; }
.podo-icon-menu::before { content: "\E001"; }
.podo-icon-paperclip::before { content: "\E24D"; }
.podo-icon-pc::before { content: "\E24E"; }
.podo-icon-pencil::before { content: "\E24F"; }
.podo-icon-pin::before { content: "\E250"; }
.podo-icon-plus::before { content: "\E251"; }
.podo-icon-printer::before { content: "\E252"; }
.podo-icon-quote::before { content: "\E253"; }
.podo-icon-receipt::before { content: "\E254"; }
.podo-icon-redo::before { content: "\E116"; }
.podo-icon-refresh::before { content: "\E006"; }
.podo-icon-repeat::before { content: "\E255"; }
.podo-icon-reserve::before { content: "\E256"; }
.podo-icon-rss::before { content: "\E257"; }
.podo-icon-save::before { content: "\E258"; }
.podo-icon-search::before { content: "\E009"; }
.podo-icon-section::before { content: "\E259"; }
.podo-icon-send::before { content: "\E25A"; }
.podo-icon-send-send-right::before { content: "\E25B"; }
.podo-icon-settings::before { content: "\E25C"; }
.podo-icon-share::before { content: "\E25D"; }
.podo-icon-star::before { content: "\E25E"; }
.podo-icon-strikethrough::before { content: "\E106"; }
.podo-icon-table::before { content: "\E10E"; }
.podo-icon-temperature::before { content: "\E25F"; }
.podo-icon-text::before { content: "\E260"; }
.podo-icon-text-align-center::before { content: "\E261"; }
.podo-icon-text-align-left::before { content: "\E262"; }
.podo-icon-text-align-right::before { content: "\E263"; }
.podo-icon-threedots-threedots-horizontal::before { content: "\E264"; }
.podo-icon-threedots-threedots-vertical::before { content: "\E265"; }
.podo-icon-time::before { content: "\E005"; }
.podo-icon-trash::before { content: "\E266"; }
.podo-icon-trend-down::before { content: "\E267"; }
.podo-icon-trend-up::before { content: "\E268"; }
.podo-icon-triangle-arrow-down::before { content: "\E269"; }
.podo-icon-triangle-arrow-left::before { content: "\E26A"; }
.podo-icon-triangle-arrow-right::before { content: "\E26B"; }
.podo-icon-triangle-arrow-up::before { content: "\E26C"; }
.podo-icon-twinkle::before { content: "\E26D"; }
.podo-icon-underline::before { content: "\E105"; }
.podo-icon-undo::before { content: "\E115"; }
.podo-icon-unfold::before { content: "\E26E"; }
.podo-icon-upload::before { content: "\E26F"; }
.podo-icon-upload-download::before { content: "\E270"; }
.podo-icon-user::before { content: "\E271"; }
.podo-icon-user-user-minus::before { content: "\E272"; }
.podo-icon-user-user-plus::before { content: "\E273"; }
.podo-icon-user-users::before { content: "\E274"; }
.podo-icon-video::before { content: "\E275"; }
.podo-icon-volume-mute::before { content: "\E276"; }
.podo-icon-volume-sound::before { content: "\E277"; }
.podo-icon-wristwatch::before { content: "\E278"; }
.podo-icon-youtube::before { content: "\E111"; }
.podo-icon-zoom-in::before { content: "\E279"; }
.podo-icon-zoom-out::before { content: "\E27A"; }
